/* CSS RESET */
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
/* CSS RESET */

html,
body,
#root,
.layout {
  height: 100%;
}

.layout {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #2c2c2c;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-right: 1px solid #414141;
}

.navbar > :last-child {
  border-bottom: 1px solid #414141;
}

.nav-link {
  display: flex;
  padding: 10px 0 10px 20px;
  color: #ffffff;
  text-decoration: unset;
}

.active-link {
  background-color: #383838;
}

.nav-link:hover {
  background-color: #383838;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.route-page-layout {
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 100%;
}

.search-books {
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
  border: 1px solid #414141;
  background-color: #383838;
  border-radius: 8px;
}

.search-field {
  display: flex;
}

.search-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.illustration {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.search {
  flex-grow: 1;
  padding: 10px 20px;
  outline: unset;
  color: #ffffff;
  background-color: #2c2c2c;
  border: 1px solid #414141;
  border-radius: 8px;
}

.search::placeholder {
  color: #525252;
}

#search-icon-wrapper {
  margin-right: 5px;
}

.search-button {
  display: flex;
  align-items: center;
  background-color: #757575;
  color: #303030;
  border-radius: 6px;
  border: unset;
  margin-left: 10px;
  padding: 10px 20px;
}
